<div id="wrap">

  <div class="corner">
     <%=image_tag("corner_image.png")%>
  </div><!--end of corner-->

  <div class="header">

  </div><!--end of header-->

  <div class="fourth_content"> <a href="#"><%=image_tag("fourth_content.png")%></a>

  </div><!--end of content-->


  <div class="logo">
  </div><!--end of logo-->

</div><!--end of wrap-->