<div id="wrap">

  <div class="corner">
     <%=image_tag("corner_image.png")%>
  </div><!--end of corner-->

  <div class="header">

  </div><!--end of header-->

  <div class="fourth_content"> <a href="#" id="challenge_user">Your Score: <%= current_user.point rescue 0 %></a>


  </div><!--end of content-->


  <div class="footer">
  </div><!--end of logo-->

</div><!--end of wrap-->
