<div id="wrap">

  <div class="corner">
     <%=image_tag("corner_image.png")%>
  </div><!--end of corner-->

  <div class="header">

  </div><!--end of header-->

  <div class="fourth_content"> <a href="#" id="challenge_user"><%=image_tag("fourth_content.png")%></a>

  </div><!--end of content-->


  <div class="footer">
  </div><!--end of logo-->

</div><!--end of wrap-->
<script type="text/javascript">
    FB.init({
        appId  : '432648530105201',
        frictionlessRequests: true
    });

  $(document).ready(function(){
          $("a#challenge_user").live('click', function(e){
              e.preventDefault();
              sendRequestViaMultiFriendSelector();
          })
  })

    function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
            message: 'Invite more friends to double your score'
        }, requestCallback);
    }

    function requestCallback(response) {
        if (response.to.length >= 20)
            window.location = '/facebook/post_invitation_process?to='+response.to
        else
            alert("You should invite only 20 friends")
    }
</script>
