
<div id="wrap">
  <div class="content">
   <%=image_tag("content.png")%>
  </div><!--end of content-->
  <div class="logo">
    <div class="next"><a href="#"><%=image_tag("next.png",:border=>"0")%></a></div>
    <!--end of next-->
  </div><!--end of logo-->
</div><!--end of wrap-->

