
<div id="wrap">

  <div class="corner">
    <%= image_tag("corner_image.png") %>
  </div>
  <!--end of corner-->

  <div class="header">
    <%= image_tag("first_header.png") %>
  </div>
  <!--end of header-->

  <div class="content">
    <%= image_tag("first_content.png") %>
  </div>
  <!--end of content-->

  <div class="footer">
    <div class="next"><%= link_to(image_tag("next.png"), facebook_rules_path) %></div>
  </div>
  <!--end of logo-->

</div><!--end of wrap-->