
<div id="wrap">

  <div class="corner">
    <%=image_tag("corner_image.png")%>
  </div><!--end of corner-->

  <div class="header">
    <%=image_tag("first_header.png")%>
  </div><!--end of header-->

  <div class="content">
    <%=image_tag("first_content.png")%>
  </div><!--end of content-->

  <div class="logo">
    <div class="next"><a href="#"><%=image_tag("next.png")%></a></div>
  </div><!--end of logo-->

</div><!--end of wrap-->
