<div id="wrap">

  <div class="corner">
    <img src="<%= image_path 'corner_image.png' %>" />
  </div><!--end of corner-->
  <div id="like" style="padding: 10px;!important">
    <p style="font-size: 25px;"><strong>আমাদের পেজে লাইক দিন</strong></p>
  </div>
  <div class="header">
    <img src="<%= image_path 'first_header.png' %>" />
  </div><!--end of header-->

  <div class="content">
    <img src="<%= image_path 'first_content.png' %>" />
  </div><!--end of content-->

  <div class="footer">

  </div><!--end of logo-->

</div><!--end of wrap-->