<html>
<head>
<%= javascript_include_tag "application" %>
</head>
<script type="text/javascript">
    $(document).ready(function () {
        var protocol = "<%= request.protocol %>"
        var dest = 'facebook.com/digimarka/app_432648530105201'
        top.location.href = protocol + dest
    })
</script>
<body>

</body>
</html>
