<div id="wrap">

  <div class="corner">
    <%=image_tag("corner_image.png")%>
  </div><!--end of corner-->

  <div class="header">

  </div><!--end of header-->

  <div class="fiveth_content">
    <div class="point">
      <%=image_tag("point.png")%>
    </div>

    <div class="name">

      <table width="206" border="0" cellspacing="3px" cellpadding="2px" align="center">
        <tr>
          <td width="169"><p class="name_style">Najum</p></td>
          <td width="30"><p class="name_style">33</p></td>
        </tr>
        <tr>
          <td><p class="name_style">Miraj</p></td>
          <td><p class="name_style">89</p></td>
        </tr>
        <tr>
          <td><p class="name_style">Kuddus</p></td>
          <td><p class="name_style">34</p></td>
        </tr>
        <tr>
          <td><p class="name_style">Kutub Hayder</p></td>
          <td><p class="name_style">89</p></td>
        </tr>
      </table>

    </div><!--end of name-->

    <div class="rank">
      <table width="211" border="0px;" align="center">
        <tr>
          <td width="142"><p class="rank_name">Your Rank</p></td>
          <td width="59"><p class="rank_name">78</p></td>
        </tr>
        <tr>
          <td width="142"><p class="rank_name">Your Point</p></td>
          <td width="59"><p class="rank_name">78</p></td>
        </tr>

      </table>


    </div>

  </div><!--end of fivth_content-->

  <div class="replay">
    <a href="#"><%=image_tag("re_play.png")%></a>
  </div>

  <div class="logo">

  </div><!--end of logo-->

</div><!--end of wrap-->