<div id="wrap">

  <div class="corner">
    <%=image_tag("corner_image.png")%>
  </div><!--end of corner-->

  <div class="header">

  </div><!--end of header-->

  <div class="second_content">
    <%=image_tag("second_content.png")%>
  </div><!--end of content-->

  <div class="rules" onclick="rule()" ><a href="#"><%=image_tag("rules.png")%></a>
  </div>

  <div id="rules"></div>

  <div class="footer">
    <div class="next"><a href="third.html"><%=image_tag("start_game.png")%></a></div>
  </div><!--end of logo-->

</div><!--end of wrap-->

