<div id="wrap">

  <div class="corner">
    <%=image_tag("corner_image.png")%>
  </div><!--end of corner-->

  <div class="header">

  </div><!--end of header-->

  <div class="second_content">
    <%=image_tag("second_content.png")%>

  </div><!--end of content-->

  <div class="rules">  <button onclick="rule('world')" style="background-color:#ffffff;cursor:pointer;border: none;"><%=image_tag("rules.png")%></button>
  </div>

  <div>
    <div id="rules"></div>
  </div>

  </body>



  <div class="logo">
    <div class="next"><%=link_to(image_tag("start_game.png"),facebook_clean_path)%></div>
  </div><!--end of logo-->

</div><!--end of wrap-->