.tb {

    background-color:#ffffff;
    cursor:pointer;
    float: left;

    border: none;
}





div#my-timer{width: 400px;
    background: lightblue;
    margin:  0 auto;
    text-align: center;
    padding:5px 0px 5px 0px;
}

.redtext{
    color: red;
    text-align: center;

}