a:link{
	text-decoration:none;
}
a:visited{
	background-color:#DE1A22;
}
a:hover{
	background-color:#FD464D;
}
a:active{
	 background-color:#FF704D;
}
#wrap{
	width:550px;
	margin:0 auto;
}

iframe {border:0;overflow:hidden;}

.content{
	margin: auto;
}

.logo{
	width:auto;
	height:100px;
	background-image:url(logo.png);
}

.next{
	float:right;
	margin-top:67px;
	margin-right:10px;
}